In [378]:
import pandas as pd
import numpy as np
gdp_data=pd.read_excel("excel_files//gdp_changeqtr_change.xlsx")

gdp_data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'excel_files//gdp_changeqtr_change.xlsx'

In [ ]:
def monthly_calculator(prev_gdp,next_gdp,curr_month, start_month):
    change=(next_gdp-prev_gdp)/3
    value=prev_gdp+(curr_month-start_month)*change
    return value

In [ ]:
def monthly_converter(df):
    i = 0
    new_rows = []
    while i < (len(df) - 1):
        month = str(df['Quarter'][i])[6:10].strip()  # Remove leading/trailing whitespaces
        yr = str(df['Quarter'][i])[1:5]
        
        gdp1 = df['GDP % Change'][i]
        gdp2 = df['GDP % Change'][i+1]
        
        if month == 'Jan':
            new_rows.append(['01/'+ yr , gdp1])
            new_rows.append(['02/'+ yr, monthly_calculator(gdp1, gdp2, 2, 1)])
            new_rows.append(['03/'+ yr, monthly_calculator(gdp1, gdp2, 3, 1)])
        elif month == 'Apr':
            new_rows.append(['04/'+ yr, gdp1])
            new_rows.append(['05/'+ yr, monthly_calculator(gdp1, gdp2, 5, 4)])
            new_rows.append(['06/'+ yr, monthly_calculator(gdp1, gdp2, 6, 4)])
        elif month == 'July':
            new_rows.append(['07/'+ yr, gdp1])
            new_rows.append(['08/'+ yr, monthly_calculator(gdp1, gdp2, 8, 7)])
            new_rows.append(['09/'+ yr, monthly_calculator(gdp1, gdp2, 9, 7)])
        else:
            new_rows.append(['10/'+ yr, gdp1])
            new_rows.append(['11/'+ yr, monthly_calculator(gdp1, gdp2, 11, 10)])
            new_rows.append(['12/' + yr, monthly_calculator(gdp1, gdp2, 12, 10)])
        
        
        
        i += 1
    
    
    new_rows.append([df['Quarter'].iloc[-1], df['GDP % Change'].iloc[-1]])
    
   
    new_df = pd.DataFrame(new_rows, columns=['Quarter', 'GDP % Change'])
    

    
    return new_df

In [ ]:
monthly_data=monthly_converter(gdp_data)
print(monthly_data.head(20))

    Quarter  GDP % Change
0   07/1996      0.500000
1   08/1996      0.866667
2   09/1996      1.233333
3   10/1996      1.600000
4   11/1996      1.333333
5   12/1996      1.066667
6   01/1997      0.800000
7   02/1997      0.666667
8   03/1997      0.533333
9   04/1997      0.400000
10  05/1997      0.666667
11  06/1997      0.933333
12  07/1997      1.200000
13  08/1997      1.333333
14  09/1997      1.466667
15  10/1997      1.600000
16  11/1997      1.600000
17  12/1997      1.600000
18  01/1998      1.600000
19  02/1998      1.500000

In [ ]:

monthly_data.to_excel('monthly_gdp_data1.xlsx', index=False)

In [ ]:
import os
import pandas as pd

# Set the directory where the Excel files are located
directory = "C:\\Users\\91978\\Desktop\\inflation_prediction_project\\excel_files"

# Initialize an empty list to store DataFrames
dfs = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):  # Check if the file is an Excel file
        filepath = os.path.join(directory, filename)
        # Read the Excel file into a DataFrame
        df = pd.read_excel(filepath)
        # Append the DataFrame to the list
        dfs.append(df)

# Concatenate the DataFrames along the rows
combined_df = pd.concat(dfs, ignore_index=True)

# Handle missing dates if necessary (e.g., fill or drop)
# combined_df = combined_df.dropna(subset=['Date'])

# Write the combined DataFrame to a new Excel file
output_file="C:\\Users\\91978\\Desktop\\inflation_prediction_project\\excel_files\\combine_dataset.xlsx"

combined_df.to_excel(output_file, index=False,engine='xlsxwriter')

Extrapolation of unemployment data in monthly format using X-12-ARIMA

In [ ]:
yoy=pd.read_excel('C:\\Users\\91978\\Desktop\\inflation_prediction_project\\yoy_unemployment_rate.xlsx')
monthly_data=pd.read_excel('C:\\Users\\91978\\Desktop\\inflation_prediction_project\\excel_files\\unemployment_monthly.xlsx')

In [ ]:
import pandas as pd



# Convert the 'Date' column to datetime format
monthly_data['Date'] = pd.to_datetime(monthly_data['Date'], format='%m/%Y')

# Sort the dataframe by date
monthly_data.sort_values('Date', inplace=True)

# Display the first few rows of the dataframe
print(monthly_data.head())

# Now you can proceed with the X-13 ARIMA analysis using the 'Date' and 'Unemployment Rate (%)' columns.

        Date  Unemployment Rate (%)
0 2016-04-01                    8.9
1 2016-05-01                    9.7
2 2016-06-01                    8.9
3 2016-07-01                    8.5
4 2016-08-01                    9.6

In [ ]:
import os
print(os.environ['X12PATH'])
print(os.environ['X13PATH'])

C:\Users\91978\Desktop\inflation_prediction_project\Time_Sereis_models\x12a.exe
C:\Users\91978\Desktop\inflation_prediction_project\Time_Sereis_models\x13as.exe

In [ ]:
combined_data.head()

,date,Unemployment Rate (%),Annual Change,,Date,Unemployment Rate (%)
0,1991-12-01,6.737,NaN,NaN,NaT,NaN
1,1992-12-01,6.815,0.08,NaN,NaT,NaN
2,1993-12-01,6.798,-0.02,NaN,NaT,NaN
3,1994-12-01,6.830,0.03,NaN,NaT,NaN
4,1995-12-01,7.014,0.18,NaN,NaT,NaN

In [ ]:
yoy.head()

                 date  Unemployment Rate (%)  Annual Change
1991-12-01 1991-12-01                  6.737            NaN NaN
1992-01-01 1992-12-01                  6.815           0.08 NaN
1992-02-01 1993-12-01                  6.798          -0.02 NaN
1992-03-01 1994-12-01                  6.830           0.03 NaN
1992-04-01 1995-12-01                  7.014           0.18 NaN

In [379]:
monthly.head()

        Date  Unemployment Rate (%)
0 2016-04-01                    8.9
1 2016-05-01                    9.7
2 2016-06-01                    8.9
3 2016-07-01                    8.5
4 2016-08-01                    9.6

In [380]:
print(yoy.columns)

Index(['Unemployment Rate (%)', 'Annual Change'], dtype='object')

In [ ]:
monthly_data.columns

Index(['Date', 'Unemployment Rate (%)'], dtype='object')

In [582]:
yoy=pd.read_excel('C:\\Users\\91978\\Desktop\\inflation_prediction_project\\yoy_unemployment_rate.xlsx')
monthly_data=pd.read_excel('C:\\Users\\91978\\Desktop\\inflation_prediction_project\\excel_files\\unemployment_monthly.xlsx')


# Remove leading spaces from column names in yoy DataFrame
yoy.columns = yoy.columns.str.strip()

# Print column names
print("Columns of yoy:")
print(yoy.columns)

print("\nColumns of monthly_data:")
print(monthly_data.columns)
yoy.shape

Columns of yoy:
Index(['date', 'Unemployment Rate (%)', 'Annual Change', ''], dtype='object')

Columns of monthly_data:
Index(['Date', 'Unemployment Rate (%)'], dtype='object')

(32, 4)

In [583]:
yoy = yoy[['date', 'Unemployment Rate (%)']]
yoy.head()

        date  Unemployment Rate (%)
0 1991-12-01                  6.737
1 1992-12-01                  6.815
2 1993-12-01                  6.798
3 1994-12-01                  6.830
4 1995-12-01                  7.014

In [584]:
from scipy.interpolate import CubicSpline

# Define the data points
x = [1, 2,4,5]  # x-coordinates
y = [2,-1,6,8]  # y-coordinates

# Create a cubic spline object
cs = CubicSpline(x, y)

# Evaluate the spline function at a specific point
x_new = 2.5
y_new = cs(x_new)

# Or evaluate the spline function over a range of points
x_range = np.linspace(min(x), max(x), 12)
y_range = cs(x_range)

In [585]:
y_range

array([ 2.00000000e+00,  1.00175307e-03, -9.12096168e-01, -9.31630353e-01,
       -2.49937390e-01,  9.40646131e-01,  2.44778362e+00,  4.07913849e+00,
        5.64237415e+00,  6.94515402e+00,  7.79514150e+00,  8.00000000e+00])

In [586]:
yoy_sub = yoy.iloc[:26]  # Keep data up to the 25th index (inclusive)

In [587]:
yoy_sub['date'] = yoy_sub['date'].astype(str)

C:\Users\91978\AppData\Local\Temp\ipykernel_30880\3228502846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yoy_sub['date'] = yoy_sub['date'].astype(str)

In [588]:
yoy_sub['date'][0]

'1991-12-01'

In [589]:
import pandas as pd
import numpy as np
from scipy.interpolate import CubicSpline

def generate_monthly_data(start_value, end_value, start_date, end_date):
    # Generate 11 intervals between the start and end dates
    monthly_dates = pd.date_range(start=start_date, end=end_date, freq='MS')
    
    # Interpolate between start and end values using Cubic Spline
    cs = CubicSpline([0, 1], [start_value, end_value])
    interpolated_values = cs(np.linspace(0, 1, 13))
    
    # Create DataFrame with monthly dates and interpolated values
    monthly_df = pd.DataFrame({'Date': monthly_dates, 'Unemployment Rate (%)': interpolated_values})
    
    return monthly_df

def generate_monthly_interpolation(yearly_data):
    monthly_data_list = []
    for i in range(len(yearly_data) - 1):
        start_date = yearly_data.iloc[i]['date']
        end_date = yearly_data.iloc[i + 1]['date']
        start_value = yearly_data.iloc[i]['Unemployment Rate (%)']
        end_value = yearly_data.iloc[i + 1]['Unemployment Rate (%)']
        
        # Generate monthly interpolation for the pair
        monthly_df = generate_monthly_data(start_value, end_value, start_date, end_date)
        monthly_data_list.append(monthly_df)
    
    # Concatenate all the monthly dataframes into one
    monthly_interpolated_data = pd.concat(monthly_data_list, ignore_index=True)
    return monthly_interpolated_data

# Example usage:
monthly_interpolated = generate_monthly_interpolation(yoy_sub)
print(monthly_interpolated)

          Date  Unemployment Rate (%)
0   1991-12-01               6.737000
1   1992-01-01               6.743500
2   1992-02-01               6.750000
3   1992-03-01               6.756500
4   1992-04-01               6.763000
..         ...                    ...
320 2016-08-01               7.866333
321 2016-09-01               7.860250
322 2016-10-01               7.854167
323 2016-11-01               7.848083
324 2016-12-01               7.842000

[325 rows x 2 columns]

In [590]:
# Save the DataFrame to an Excel file
monthly_interpolated.to_excel('monthly_interpolated_unemployment.xlsx', index=False)

array([7.84 , 8.052, 8.264, 8.476, 8.688, 8.9  ])